:root {
    --body-text: #303030;
    --pink: #FF93EE;
    --yellow: #EAFA89;
  }

@font-face{
    font-family: 'NeueMachina';
    src: url(../fonts/NeueMachina-InktrapRegular.otf);
}
@font-face{
    font-family: 'NeueMachinaBold';
    src: url(../fonts/NeueMachina-InktrapUltrabold.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'NeueMachina';
    color: var(--body-text);
    overflow-x: hidden;
}
header{
    padding: 1rem;
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.22);
    backdrop-filter: blur(3.1px);
    border-bottom: 1px solid rgb(0 0 0 / 32%);
    -webkit-backdrop-filter: blur(3.1px);
    z-index: 999;
}
header nav{
    display: flex;
    justify-content: space-between;
}

header nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1rem;
    margin: 0 1rem;
}

header nav ul li a{
    text-decoration: none;
    color: var(--body-text);
    font-family: 'NeueMachinaBold';
    font-size: .8rem;
}

.work__btn{
    background-color: var(--pink);
    border-radius: 1.8rem;
    padding: .4rem 1rem;
    color: #fff;
    font-size: .7rem;
}
.hamburguer{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all .3s ease-in-out;
    background-color: var(--body-text);
}
/*Hero*/
.hero__section{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    position: relative;
    overflow: hidden;
}
.hero__titles{
    margin: 0 4rem;
}
.hero__section h2{
    font-size: 1.25rem;
    text-align: center;
}
.hero__section h1{
    font-size: 6rem;
    text-align: center;
}
.hero__section h1 sup{
    font-size: 3rem;
}

.hero__section .scroll{
    width: 100%;
    display: flex;
}
.hero__section .scroll div{
    color: #fff;
    font-size: 2.1rem;
    background-color: var(--body-text);
    color: var(--yellow);
    white-space: nowrap;
    will-change: transform;
    animation: animate 32s linear infinite;

}
.scroll.text1 div{
    background-color: var(--yellow);
    color: var(--body-text);
}
.hero__section .scroll div:nth-child(2){
    animation: animateTwo 32s linear infinite;

}
@keyframes animate{
    from{transform: translateX(0);}
    to{transform: translateX(-200%);}
}
@keyframes animateTwo{
    from{transform: translateX(100%);}
    to{transform: translateX(-100%);}
}
.hero__section .scroll.text1{
    transform: rotate(-3.84deg) translate(-200%, 100%);
}
.hero__section .scroll.text2{
    transform: rotate(3.84deg) translate(-100%,-50%);
}

/* .track {
    white-space: nowrap;
    will-change: transform;
    font-size: 2.1rem;
    background-color: var(--body-text);
    width: fit-content;
    color: var(--yellow);
    animation: marquee 32s linear infinite;
}

@keyframes marquee {
    from { transform: rotate(-3.84deg) translateX(0); }
    to { transform: rotate(-3.84deg) translateX(-50%); }
}

.trackTwo {
    white-space: nowrap;
    will-change: transform;
    font-size: 2.1rem;
    background-color: var(--yellow);
    width: fit-content;
    color: var(--body-text);
    animation: marqueeTwo 32s linear infinite;
}

@keyframes marqueeTwo {
    from { transform: rotate(3.84deg) translateX(0) translateY(0);}
    to { transform: rotate(3.84deg) translateX(-50%) translateY(-50%);}
} */

/*Qué hacemos*/

.hacemos__section{
    display: grid;
    grid-template-columns: 1fr .8fr;
    align-items: flex-start;
    margin: 0 4rem;
}
.hacemos__text-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.hacemos__text-container h2{
    font-size: 6rem;
}
.hacemos__text-container p{
    font-size: 1.25rem;
}
.hacemos__btn{
    background-color: var(--body-text);
    border-radius: 1.8rem;
    width: fit-content;
    padding: .4rem 1rem;
    color: #fff;
    text-decoration: none;
    font-size: .8rem;
}
.hacemos__img{
    display: flex;
    justify-content: center;
}
.hacemos__img img{
    width: 80%;
}

/*Experiencia*/
.experiencia__section{
    margin: 4rem 0;
}
.experiencia__section h2{
    font-size: 48px;
    margin: 0 4rem;
}
.carousel{
    max-width: 120rem;
    padding: 2rem;
}
.carousel .grande{
    width: 200%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 1.5rem;
    padding: 2rem;
    transition: all .5s ease;
    transform: translateX(0%);
}
.carousel img{
    width: 100%;
    border-radius: 2.8rem;
}
.carousel .puntos{
    width: 100%;
    padding: .4rem;
    margin: 1rem 0 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    list-style: none;
}
.carousel .punto{
    width: 2.25rem;
    height: 0.25rem;
    background-color: #5c5c5c;
    margin: .2rem;
    border-radius: 0.1rem;
}

.carousel .punto.activo{
    background-color: var(--body-text);
}

.overlay {
    width: 19.25%;
    height: 100%;
    background: linear-gradient(0deg, #EAFA89 0%, rgba(234, 250, 137, 0) 100%);
    opacity: 0;
    transform: translate(0%, -100%);
    transition: .5s ease;
    z-index: 1;
    position: absolute;
    border-radius: 2.8rem;
}
.carousel__container:hover .overlay {
    opacity: 1;
} 
.overlay__title{
    color: #000;
    font-size: 1.8rem;
    text-align: center;
    position: absolute;
    bottom: 16%;
    right: 18%;
    width: 100%;
}
.overlay__description{
    color: #000;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 9%;
    right: 29%;
}
/*Por qué nosotros*/
.por-que__text-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: end;
}
.por-que__text-container h2{
    font-size: 6rem;
    text-align: right;
}
.por-que__text-container p{
    font-size: 1.25rem;
    text-align: right;
}
.por-que__section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1rem;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
}
.brand, .products, .sales{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    height: 34rem;
    padding: 1.5rem;
}
.brand img, .products img, .sales img{
    width: 20%;
}
.brand h3, .products h3, .sales h3{
    font-size: 1.75rem;
}
.brand p, .products p, .sales p{
    font-size: 1.25rem;
    width: 85%;
}
.products{
    border-right: solid 1px #000;
    border-left: solid 1px #000;
}

/*Calculadora*/
.calculadora__section{
    height: 16rem;
    border-bottom: solid 1px #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}
.calculadora__section h2{
    font-family: 'NeueMachinaBold';
}
.calculadora__btn{
    background-color: var(--yellow);
    border: none;
    border-radius: 0.5rem;
    padding: 0.8rem 2rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'NeueMachina';
    cursor: pointer;
}
.calculadora__btn span{
    text-decoration: underline;
}

/*Footer*/
footer{
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-template-rows: 16rem 4rem;
    grid-template-areas: 
        "contact location"
        "copyright location";
    border-bottom: solid 1px #000;
}

.contact__footer{
    grid-area: contact;
    border-right: solid 1px #000;
    border-bottom: solid 1px #000;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem;
}
.contact__footer h3{
    font-size: 2.25rem;
}
.contact__footer p{
    font-size: 1.25rem;
}
.contact__footer a{
    color: var(--body-text);
    font-size: 1.4rem;
}
.contact__footer a:nth-child(2), .contact__footer a:nth-child(3){
    margin-left: 1rem;
}
.copyrigth__footer{
    grid-area: copyright;
    border-right: solid 1px #000;
    display: flex;
    align-items: center;
    padding: 2rem;
}
.copyrigth__footer p{
    font-size: .9rem;
}
.location__footer{
    grid-area: location;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 3rem;
    padding: 2rem;
}
.location__footer h4{
    font-size: 1.6rem;
    text-align: right;
    font-weight: 400;
}
.location__footer p{
    font-size: 1.1rem;
    text-align: right;
}

@media (max-width: 768px){
    .hamburguer{
        display: block;
    }
    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburguer.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    header{
        display: flex;
        justify-content: end;
    }
    header nav{
        position: fixed;
        left: -100%;
        top: 62px;
        gap: 0;
        flex-direction: column;
        transition: .3s;
    }
    header nav.active{
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        justify-content: center;
        gap: 0.5rem;
    }
    header nav div{
        order: -1;
        margin: 0 auto;
    }
    header nav ul{
        flex-direction: column;
    }
    .hero__titles{
        margin: 0;
    }
    .hero__section h1{
        font-size: 3rem;
    }
    .hero__section h1 sup{
        font-size: 1.5rem;
    }
    .hero__section h2{
        font-size: 1rem;
        text-align: center;
    }
    .hacemos__section{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin: 3rem 0;
    }
    .hacemos__text-container{
        align-items: center;
    }
    .hacemos__text-container h2{
        font-size: 3rem;
        text-align: center;
    }
    .hacemos__text-container p{
        text-align: center;
    }
    .por-que__section{
        grid-template-columns: 1fr;
    }
    .por-que__text-container{
        order: -1;
        align-items: center;
    }
    .por-que__text-container h2{
        font-size: 3rem;
        text-align: center;
    }
    .por-que__text-container p{
        text-align: center;
    }
    .brand, .products, .sales{
        height: auto;
    }
    .products{
        border-top: solid 1px #000;
        border-bottom: solid 1px #000;
        border-right: none;
        border-left: none;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
    .contact__footer{
        gap: 1rem;
    }
    .contact__footer div{
        display: flex;
        flex-direction: column;
    }
    .contact__footer a:nth-child(2), .contact__footer a:nth-child(3){
        margin-left: 0;
    }
    .location__footer{
        align-items: start;
    }
    .location__footer h4{
        text-align: left;
    }
    .location__footer p{
        text-align: left;
    }
    .copyrigth__footer{
        order: 1;
    }
}