:root {
    /* Colors */
    --body-text: #303030;
    --pink: #FF93EE;
    --yellow: #EAFA89;

    /*Fonts*/
    --titles-font: ;
    --text-font: ;
    
    /*Marquee*/
    --marquee-width: 100%;
    --marquee-height: 8vh;
    --marquee-elements-displayed: 5;
    --marquee-element-width: calc(var(--marquee-width) / var(--marquee-elements-displayed));
    --marquee-animation-duration: calc(var(--marquee-elements) * 3s);
  }

@font-face{
    font-family: 'NeueMachina';
    src: url(../assets/fonts/NeueMachina-Regular.ttf);
}
@font-face{
    font-family: 'HeadingNow';
    src: url(../assets/fonts/HeadingNow-96Bold.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    font-family: 'NeueMachina';
    background-color: #FFF7DE;
    color: var(--body-text);
}
header{
    padding: 1rem;
    position: sticky;
    top: 0;
    background: rgba(255, 255, 255, 0.22);
    backdrop-filter: blur(4px);
    border-bottom: 1px solid rgb(0 0 0 / 32%);
    -webkit-backdrop-filter: blur(4px);
    z-index: 999;
}
header .logo{
    display: none;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul{
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1rem;
    margin: 0 1rem;
}

header nav ul li a{
    text-decoration: none;
    color: var(--body-text);
    font-family: 'NeueMachina';
    font-size: .8rem;
    font-weight: bold;
}
.header__logo-desktop{
    width: 12%;
}
.header__logo-desktop img{
    width: 100%;
}
.work__btn{
    background-color: var(--pink);
    border-radius: 1.8rem;
    padding: .6rem 1rem;
    color: #fff;
    font-size: .8rem;
    border: 1px solid #000;
}
.fa-arrow-right-long{
    margin-left: .5rem;
}
.hamburguer{
    display: none;
    cursor: pointer;
}
.bar{
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all .3s ease-in-out;
    background-color: var(--body-text);
}
/*Hero*/
.hero__section{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    position: relative;
    overflow: hidden;
}
.hero__titles{
    margin: 0 4rem;
}
.hero__section h2{
    font-size: 1.25rem;
    text-align: center;
}
.hero__section h1{
    font-size: 6.5rem;
    text-align: center;
    font-family: 'HeadingNow';
    line-height: .8;
}
.hero__section h1 .hero__title-size{
    font-size: 10.5rem;
}
.hero__section h1 sup{
    font-size: 3rem;
    margin-left: -4rem;
}
.scroll-downs {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}
.mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid var(--body-text);
    border-radius: 25px;
    opacity: 0.75;
    box-sizing: content-box;
}
.scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: var(--body-text);
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
}
@keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
}
.marquee {
    width: 100%;
    height: var(--marquee-height);
    background-color: var(--body-text);
    color: var(--yellow);
    overflow: hidden;
    position: relative;
    transform: rotate(2.69deg) translateY(80%);
    z-index: 1;
}
.marquee:before, .marquee:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
}
.marquee-content {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
}
@keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}
.marquee-content li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    max-height: 100%;
    font-size: 2rem;
    white-space: nowrap;
    margin-left: 1rem;
}

.marqueeTwo {
    width: 100%;
    height: var(--marquee-height);
    background-color: var(--yellow);
    color: var(--body-text);
    overflow: hidden;
    position: relative;
    transform: rotate(-2.69deg) translateY(-50%);
}
.marqueeTwo:before, .marqueeTwo:after {
    position: absolute;
    top: 0;
    width: 10rem;
    height: 100%;
    content: "";
    z-index: 1;
}
.marquee-contentTwo {
    list-style: none;
    height: 100%;
    display: flex;
    animation: scrolling var(--marquee-animation-duration) linear infinite;
}
@keyframes scrolling {
    0% { transform: translateX(0); }
    100% { transform: translateX(calc(-1 * var(--marquee-element-width) * var(--marquee-elements))); }
}
.marquee-contentTwo li {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    max-height: 100%;
    font-size: 2rem;
    white-space: nowrap;
    margin-left: 1rem;
}

/*Qué hacemos*/

.hacemos__section{
    display: grid;
    grid-template-columns: 1fr .8fr;
    align-items: flex-start;
    margin: 2rem 4rem;
}
.hacemos__text-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.hacemos__text-container h2{
    font-size: 3rem;
    font-family: 'HeadingNow';
}
.hacemos__text-container p{
    font-size: 1.25rem;
}
.hacemos__btn{
    background-color: #fff;
    border-radius: 1.8rem;
    border: 1px solid #000;
    width: fit-content;
    padding: .6rem 1.3rem;
    color: var(--body-text);
    text-decoration: none;
    font-size: .8rem;
    font-weight: bold;
}
.hacemos__img{
    display: flex;
    justify-content: center;
}
.hacemos__img img{
    width: 100%;
}

/*Servicios*/
.servicios__section{
    margin: 2rem 4rem;
}
.servicios__section h2{
    font-size: 3rem;
    font-family: 'HeadingNow';
}
.servicios__container{
    display: flex;
    gap: 6rem;
    margin: 2rem 0;
}
.servicios__btn-tabs{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.8rem;
}
.servicios__btn-tab{
    font-size: 1.1rem;
    font-weight: bold;
    cursor: pointer;
    transition: all .5s ease;
    padding: 0.6rem;
    border-radius: 5rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}
.servicios__btn-tab.active-btn{
    border: solid 1px #000;
    width: 13rem;
    padding: 0.6rem;
    border-radius: 5rem;
    font-size: 1.3rem;
}
.servicios__btn-tab .icon{
    width: 15%;
    display: none;
}
.servicios__btn-tab .show-icon{
    display: block;
}
.servicios__tabs{
    position: relative;
    min-height: 30rem;
    width: 100%;
}
.servicios__tab{
    background: linear-gradient(180deg, rgba(217, 217, 217, 0.35) 0%, rgba(217, 217, 217, 0) 100%);
    backdrop-filter: blur(15px);
    border-radius: 5.6rem 5.6rem 0 0 ;
    height: 30rem;
    width: 100%;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    position: absolute;
    top: 0;
    opacity: 0;
    transition: all .5s ease;
}
.servicios__tab img{
    width: 15%;
}
.servicios__tab h3{
    font-size: 2.3rem;
    font-family: 'HeadingNow';
}
.servicios__tab p{
    font-size: 1.25rem;
}
.servicios__tab.active-tab{
    opacity: 1;
}
.container{
    display: none;
}
.selected{
    display: none;
}

/*Experiencia*/
.experiencia__section{
    margin: 2rem 0;
    overflow-x: hidden;
}
.experiencia__section h2{
    font-size: 3rem;
    font-family: 'HeadingNow';
    margin: 0 4rem;
}
/*swiper*/
.swiper{
    width: 100%;
    height: 100%;
    margin: 4rem;
}
.swiper-slide{
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2.8rem;
}
.swiper-pagination{
    position: unset;
    margin-top: 2rem;
}
.swiper-pagination span{
    width: 2.25rem;
    height: 0.25rem;
    background-color: #5c5c5c;
    margin: 0.2rem;
    border-radius: 0.1rem;
}
.overlay {
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #EAFA89 0%, rgba(234, 250, 137, 0) 100%);
    opacity: 0;
    transition: .5s ease;
    z-index: 1;
    position: absolute;
    border-radius: 2.8rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
.swiper-slide:hover .overlay {
    opacity: 1;
} 
.overlay__title{
    font-size: 1.8rem;
    text-align: left;
}
.overlay__description{
    font-size: 1.5rem;
    text-align: left;
}
.overlay__text-container{
    margin: 0 0 1.5rem 1.5rem;
}
/*Por qué nosotros*/
.por-que__text-container{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: end;
    margin: 2rem 0;
}
.por-que__text-container h2{
    font-size: 3rem;
    font-family: 'HeadingNow';
    text-align: right;
}
.por-que__text-container p{
    font-size: 1.25rem;
    text-align: right;
}
.por-que__btn{
    background-color: var(--body-text);
    color: #fff;
    border: 1px solid #fff;
}
.por-que__section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 1rem;
    border-top: solid 1px #000;
    border-bottom: solid 1px #000;
}
.brand, .products, .sales{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 0.5rem;
    height: 34rem;
    padding: 1.5rem;
}
.brand img, .products img, .sales img{
    width: 20%;
}
.brand h3, .products h3, .sales h3{
    font-size: 1.75rem;
}
.brand p, .products p, .sales p{
    font-size: 1.25rem;
    width: 85%;
}
.products{
    border-right: solid 1px #000;
    border-left: solid 1px #000;
}

/*Calculadora*/
.calculadora__section{
    height: 16rem;
    border-bottom: solid 1px #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}
.calculadora__section h2{
    font-family: 'NeueMachina';
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 1;
}
.calculadora__btn{
    background-color: var(--yellow);
    border: none;
    border-radius: 0.5rem;
    padding: 0.8rem 2rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'NeueMachina';
    font-weight: bold;
    cursor: pointer;
}
.calculadora__btn span{
    text-decoration: underline;
}
.calculadora__modal{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.5);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 1rem;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}
.calculadora__modal-content{
    position: relative;
    background-color: #fff;
    height: 28.6rem;
    width: 60%;
    padding: 1.5rem;
    border-radius: .5rem;
}
.calculadora__modal-title{
    font-size: 1.2rem;
    margin-top: 1.5rem;
    text-decoration: underline;
}
.calculadora__modal-close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: var(--body-text);
    cursor: pointer;
}
.active-modal{
    opacity: 1;
    visibility: visible;
}

/*Footer*/
footer{
    display: grid;
    grid-template-columns: 1fr .5fr;
    grid-template-rows: 16rem 4rem;
    grid-template-areas: 
        "contact location"
        "copyright location";
    border-bottom: solid 1px #000;
}

.contact__footer{
    grid-area: contact;
    border-right: solid 1px #000;
    border-bottom: solid 1px #000;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2rem;
}
.contact__footer h3{
    font-size: 2.25rem;
}
.contact__footer p{
    font-size: 1.25rem;
}
.contact__footer a{
    color: var(--body-text);
    font-size: 1.4rem;
}
.contact__footer a:nth-child(2), .contact__footer a:nth-child(3){
    margin-left: 1rem;
}
.copyrigth__footer{
    grid-area: copyright;
    border-right: solid 1px #000;
    display: flex;
    align-items: center;
    padding: 2rem;
}
.copyrigth__footer p{
    font-size: .9rem;
}
.location__footer{
    grid-area: location;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 3rem;
    padding: 2rem;
}
.location__footer h4{
    font-size: 1.6rem;
    text-align: right;
    font-weight: 400;
}
.location__footer p{
    font-size: 1.1rem;
    text-align: right;
}

@media (max-width: 768px){
    .hamburguer{
        display: block;
    }
    .hamburguer.active .bar:nth-child(2){
        opacity: 0;
    }
    .hamburguer.active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    .hamburguer.active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
    .hamburguer.active .bar{
        background-color: #fff;
    }
    header{
        display: flex;
        justify-content: space-between;
        background: unset;
        backdrop-filter: none;
        border-bottom: none;
    }
    header .logo{
        display: block;
    }
    .header__logo-mobile{
        width: 30%;
    }
    header nav{
        position: fixed;
        left: -100%;
        top: 3.75rem;
        gap: 0;
        flex-direction: column;
        transition: .3s;
    }
    header nav.active{
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #161616;
        justify-content: flex-start;
        gap: 2rem;
    }
    header nav div{
        display: none;
    }
    header nav ul{
        flex-direction: column;
        margin-top: 3rem;
    }
    header nav ul li:nth-child(2){
        margin-top: 3rem;
    }
    header nav ul li a{
        color: #fff;
        font-size: 1.3rem;
    }
    .work__btn{
        font-size: 1.3rem;
    }
    .hero__titles{
        margin: 0;
    }
    .hero__section h1{
        font-size: 3rem;
    }
    .hero__section h1 .hero__title-size {
        font-size: 3rem;
    }
    .hero__section h1 sup{
        font-size: 1.5rem;
        margin-left: -1rem;
    }
    .mobile-break{
        display: block;
        font-size: 5.5rem;
        margin-bottom: -2rem;
    }
    .hero__section h2{
        font-size: 1rem;
        text-align: center;
    }
    .marquee-content li{
        font-size: 1rem;
    }
    .marquee-contentTwo li{
        font-size: 1rem;
    }
    .hacemos__section{
        display: flex;
        flex-direction: column;
        gap: 3rem;
        margin: 3rem 1rem;
    }
    .hacemos__text-container{
        align-items: center;
    }
    .hacemos__text-container h2{
        font-size: 3rem;
        text-align: left;
        align-self: flex-start;
    }
    .hacemos__text-container p{
        text-align: left;
    }
    .hacemos__btn{
        align-self: flex-start;
    }
    .servicios__section{
        margin: 2rem 1rem;
    }
    .servicios__section h2{
        font-size: 3rem;
        text-align: center;
    }
    .servicios__container{
        flex-direction: column;
        gap: 2rem;
        align-items: flex-start;
        position: relative;
    }
    .servicios__tab{
        padding: 1rem 3rem;
        height: auto;
    }
    .servicios__tab img{
        width: 30%;
    }
    .servicios__tab h3{
        font-size: 1.5rem;
    }
    .servicios__btn-tab.active-btn{
        border: none;
    }
    .servicios__btn-tab.active-btn{
        width: 16rem;
    }
    .servicios__btn-tabs{
        display: none;
    }
    .servicios__btn-tabs.active{
        display: block;
        margin: 0 2rem;
        background-color: #ffff;
        border-radius: 10px;
        position: absolute;
        top: 3rem;
        z-index: 1;
        padding: 0.5rem;
    }
    .servicios__btn-tab.active-btn{
        font-size: 1.1rem;
    }
    .icon{
        width: 20%;
    }
    .selected {
        order: -1;
        width: 14rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2rem;
        font-weight: bold;
    }
    .selected::after {
        content: "";
        background: url("../assets/icons/angle-down.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 1.5rem;
        height: 1.5rem;
        transition: all 0.4s;
    }
    .servicios__btn-tabs.active + .selected::after {
        transform: rotateX(180deg);
        top: -6px;
    }
    .experiencia__section h2{
        font-size: 3rem;
        text-align: center;
        margin: 0;
    }
    .por-que__section{
        grid-template-columns: 1fr;
    }
    .por-que__text-container{
        order: -1;
    }
    .por-que__text-container h2{
        font-size: 3rem;
    }
    .por-que__btn{
        align-self: flex-end;
    }
    .brand, .products, .sales{
        height: auto;
    }
    .products{
        border-top: solid 1px #000;
        border-bottom: solid 1px #000;
        border-right: none;
        border-left: none;
    }
    .calculadora__btn{
        padding: 0.8rem 1rem;
        font-size: 1.2rem;
    }
    .calculadora__modal-content{
        height: 25rem;
        width: 90%;
    }
    footer{
        display: flex;
        flex-direction: column;
    }
    .contact__footer{
        gap: 1rem;
        border-right: 0;
    }
    .contact__footer div{
        display: flex;
        flex-direction: column;
        gap: 1rem
    }
    .contact__footer a:nth-child(2), .contact__footer a:nth-child(3){
        margin-left: 0;
    }
    .location__footer{
        align-items: start;
    }
    .location__footer h4{
        text-align: left;
    }
    .location__footer p{
        text-align: left;
    }
    .copyrigth__footer{
        order: 1;
        border-right: 0;
        border-top: solid 1px #000;
    }
}
@media (max-width: 576px){
    .hacemos__text-container h2{
        font-size: 2.5rem;
    }
    .hacemos__img img{
        width: 70%;
    }
    .servicios__section h2{
        font-size: 2rem;
    }
    .experiencia__section h2{
        font-size: 2rem;
    }
    .swiper{
        margin: 2rem auto;
        width: 80%;
    }
    .por-que__text-container h2{
        font-size: 2rem;
    }
    .calculadora__section h2{
        font-size: 1.5rem;
    }
    .calculadora__btn{
        font-size: 1rem;
    }
    .contact__footer{
        gap: 2rem;
    }
    .contact__footer h3{
        font-size: 2.8rem;
    }
    .location__footer{
        gap: 2rem;
    }
    .copyrigth__footer{
        text-align: center;
    }
    /* .swiper-slide{
        width: 100%!important;
    } */
}